body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  color: black;
  background: #f1ea36;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.7rem;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input[type="number"] {
  background: transparent;
  font-size: 1.1rem;
  line-height: 1.1rem;
  border: none;
  border-bottom: 2px solid black;
  appearance: textfield;
  margin-left: 2ch;
}

span {
  padding: 0 1ch 0 0;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 3rem;
  line-height: 3.2rem;
  margin: 0 0 1rem 0;
}

h2 {
  text-align: center;
  font-size: 1.4rem;
}

th {
  text-align: left;
  padding: 0 4ch 0 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  margin-bottom: 2rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.exchange {
  margin-top: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.tooltip {
  position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:hover:before {
  display:block;
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;
  font-size: 0.8rem;
  line-height: 1rem;
  z-index: 1000;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  left: 60%;

  /* basic styles */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;

  display: none; /* hide by default */
}

@media only screen and (min-width: 800px) {
  body {
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  div {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  th {
    min-width: 10ch;
  }

  .input-group {
    flex-direction: row;
    margin: 0;
  }
}
